<!doctype html>
<html class="terra-Application" lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>terra-table</title>
  </head>
  <body>
      <h1>Terra Table</h1>
      <%= require('html!../tests/visual/terra-table.html') %>

      <h1>Terra Table Size</h1>
      <%= require('html!../tests/visual/terra-table-size.html') %>

      <h1>Terra Table Striped</h1>
      <%= require('html!../tests/visual/terra-table-striped.html') %>

      <h1>Terra Table Long Text</h1>
      <%= require('html!../tests/visual/terra-table-long-text.html') %>
  </body>
</html>
